# --- Visual Studio & .NET Build Output ---
.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.suo

# --- Security (Configuration) ---
appsettings.json
appsettings.Development.json
.env


# --- Others ---
.DS_Store
Thumbs.db